.navbar {
    background: url("./images/indy-panorama.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-item > .btn-light:hover {
    color: maroon !important
}

.nav-item > .btn {
    background-color: #fff !important;
    background-color: rgba(255,255,255,0.7) !important;
    font-weight: bold !important;
}

.card {
    justify-content: center;
}

.carousel {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

/* this allows the "INDIANA" nav-bar brand to remain visible when the img horizon moves up on smaller screens */
@media (max-width: 991.98px) {
     .container-fluid {
        background-color: #fff;
        background-color: rgba(255,255,255,0.5);
     }
     .split {
        column-span: 3;
     }
}

#body-paragraph{
    color: rgb(21, 34, 21);
}

.aside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.body-carousel {
    background-color:aliceblue
}

ol > .list-group {
    display: flex !important;
    flex-direction: row !important;
    list-style-type: decimal !important;
    list-style-position: inside !important;
}

ol > .list-group-item {
    column-span: 4 !important;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}